@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

.App {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #1e2732;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 480px;
  text-align: center;
}